<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="user">
                <div class="img"><img [src]="imagen" alt="" class="im"></div>
                <h5>{{nombre}}</h5>
            </div>
            <div class="cuenta">
                <button style="border: none; background-color: transparent;" data-bs-toggle="modal" data-bs-target="#salir">
                    <i class="fa-solid fa-user"></i>
                </button>
            </div>
        </div>
        
        <input type="text" placeholder="Search">
    </div>

    <div class="body">
        <div class="chats"> <!--  [routerLink]="['/chatGrupal/']" -->
            <div class="inUsuario">
                <div class="imagePerfil">
                    <i class="fa-solid fa-user-group icon" ></i>
                </div>
                <div class="info">
                    <h5>Aqui podrian ir los teams</h5>
                    <span class="in">Lorem ipsum dolor sit.</span>
                </div>
            </div>
            <div class="hora">
                <span class="ho">10:30</span>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="c1" [routerLink]="['/chats/'+ userId]">
            <i class="fa-solid fa-comment-dots icon"></i>
            <span class="foo">Chat</span>
        </div>
        <div class="c1"  style="color: #5B5FC0;">
            <i class="fa-solid fa-user-group icon" ></i>
            <span class="foo" >Teams</span>
        </div>
        <div class="c1" [routerLink]="['/calls/']">
            <i class="fa-solid fa-phone icon"></i>
            <span class="foo">Calls</span>
        </div>
        <div class="c1">
            <i class="fa-solid fa-ellipsis icon"></i>
            <span class="foo">More</span>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="salir" tabindex="-1" aria-labelledby="salirLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="salirLabel">Desea salir?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary" [routerLink]="['']">salir</button>
        </div>
      </div>
    </div>
  </div>       
